#react-root {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  min-width: 320px;
  height: 100%;
  background-color: #E0E1E2;
  box-sizing: border-box;
}

#react-root > .grid {
  height: 100%;
  box-sizing: border-box;
}

.app-root {
  margin-left: 260px;
  padding: 0px;
}

.app-page {
  padding: 0 1.2rem 1.2rem 1.2rem;
  box-sizing: border-box;
}

.app-auto-wrap {
  max-width: 320px;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="largescreen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }
}

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="largescreen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important;
  }
}

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="largescreen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="largescreen"]),
  [class*="tablet only"]:not([class*="largescreen"]),
  [class*="computer only"]:not([class*="largescreen"]),
  [class*="largescreen hidden"],
  [class*="widescreen only"]:not([class*="largescreen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important;
  }
}

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="largescreen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important;
  }
}
