{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "globals": {
    "_": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "object-curly-spacing": ["warn", "never", {
      "objectsInObjects": false,
      "arraysInObjects": true
    }],
    "no-underscore-dangle": ["warn", {
      "afterThis": false
    }],
    "block-spacing": ["off"],
    "callback-return": ["error"],
    "no-unused-vars": ["warn"],
    "react/prop-types": ["off"],
    "react/react-in-jsx-scope": ["off"],
    "react/jsx-space-before-closing": ["off"]
  }
}
