// Navbar Logo Fix
.brand-logo {
  height: 36px;
  width: auto;
  margin-top: 16px;
  margin-right: 15px;
}

@media (max-width: $screen-xs-max) {
  .brand-logo {
    margin-left: 15px;
  }

  .navbar-form-buttons {
    display: none;
  }
}

// Page Title
.page-title h1 {
  font-size: 22px;
  margin-top: 0;
}

// Layout
.page-header-fixed .page-container {
  margin-top: ($navbar-height);
}

.page-container {
  margin: 0;
  padding: 15px 15px 0;
  position: relative;
}

.page-container .page-actions {
  float: right;
}

.page-sidebar-wrapper {
  @media (min-width: $screen-sm-min) {
    display: block !important; // Ignore .collapse in sm, md, lg
  }
}

.page-sidebar {
  width: 100%;

  @media (min-width: $screen-sm-min) {
    width: 235px;
    float: left;
    position: relative;
    margin-right: -100%;
  }
}

.page-content-wrapper {
  float: left;
  width: 100%;
}

.page-content-wrapper .page-content {
  min-height: 600px;
  padding-top: 15px;
  margin-top: 0;
  
  @media (min-width: $screen-sm-min) {
    margin-left: 235px;
    padding-left: 15px;
  }
}