// Portlet (Variation on Bootstrap Panel)
.panel-portlet > .panel-heading {
  position: relative;
  margin: 10px 15px;
  padding: 10px 0 18px;
  border-bottom: 1px solid $gray-lighter;

  @include clearfix();
}
.panel-portlet > .panel-heading > .actions {
  position: absolute;
  top: 5px;
  right: 0;
}
.panel-portlet > .panel-heading > .panel-title {
  color: $brand-primary;
  font-weight: 600;
  text-transform: uppercase;
}